  <div class="header">
    <button class="btn" (click)="goBack()">← Voltar</button>
    <h2>{{ title }}</h2>
  </div>

  <div class="card" *ngIf="schema">
    <div class="box">
      <div class="box-head" (click)="toggleRoot($event)">
        <div class="left">
          <span class="tag">{{ label }}</span>
        </div>
        <div class="right">{{ rootOpen ? '▾' : '▸' }}</div>
      </div>
      <div class="box-body" *ngIf="rootOpen">
        <!-- Aqui virão os grupos/elementos na ordem exata → próxima etapa -->
        <ng-container *ngIf="rootNode else noTree" >
          <app-schema-node
           *ngFor="let node of topLevelViewNodes; trackBy: trackNode"
           [node]="node"
           [depth]="0"
          ></app-schema-node>
        </ng-container>
        <ng-template #noTree>
          <p class="muted"> Esquema não disponível </p>
        </ng-template>
        <div class="actions">
          <button class="btn primary" (click)="save()">Salvar alterações</button>
        </div>
      </div>
    </div>
  </div>