<details class="node" open>
  <summary class="sum">
    <span class="name">{{ node.name || node.kind }}</span>
  </summary>

  <!-- documentação do PRÓPRIO nó -->
  <div class="docbox" *ngIf="node.meta?.docs?.length">
    <ul class="docline">
      <li *ngFor="let d of node.meta?.docs">{{ d }}</li>
    </ul>
  </div>

  <!-- ====== CHOICE ====== -->
  <ng-container *ngIf="isChoice(); else notChoice">
    <div class="choice-picker">
      <label>Escolha uma opção:</label>
      <select
        [value]="selectedChoiceId()"
        (change)="onChoose(($any($event.target).value ))">
        <option value="" disabled>— selecione —</option>
        <option *ngFor="let opt of node.children" [value]="opt.id">
          {{ opt.name || 'opção' }}
        </option>
      </select>
    </div>

    <div class="children" *ngIf="selectedChild() as chosen">
      <app-xs-tree-node [node]="chosen"></app-xs-tree-node>
    </div>
  </ng-container>

  <!-- ====== NÃO-CHOICE ====== -->
  <ng-template #notChoice>
    <!-- ENUM como SELECT -->
    <ng-container *ngIf="isEnumList(); else regularChildren">
      <div class="enum-picker">
        <label>Selecionar:</label>
        <select
          [value]="selectedEnum()"
          (change)="onChooseEnum(($any($event.target).value ))">
          <option value="" disabled>— selecione —</option>
          <option *ngFor="let opt of node.children" [value]="opt.name">
            {{ enumLabel(opt) }}
          </option>
        </select>
      </div>
      <!-- não renderiza os filhos individualmente quando é enum list -->
    </ng-container>

    <!-- padrão: renderiza filhos normalmente -->
    <ng-template #regularChildren>
      <div class="children" *ngIf="node.children?.length">
        <app-xs-tree-node *ngFor="let c of node.children" [node]="c"></app-xs-tree-node>
      </div>
    </ng-template>
  </ng-template>
</details>