<div class="box" [style.marginLeft.px]="depth * 12">
  <div class="box-head" (click)="onHeaderClick($event)">
    <div class="left">
        <span class="tag">{{ node.name }}</span>
        <ng-container *ngIf="(node.meta?.typeName || node.source?.meta?.typeName) as typeName">
            <span class="doc">type: {{ typeName }}</span>
        </ng-container>

        <!-- base -->
        <ng-container *ngIf="(node.meta?.base || node.source?.meta?.base) as base">
            <span class="doc" style="margin-left:8px">base: {{ base }}</span>
        </ng-container>
    </div>
    <div class="right">{{ open ? '▾' : '▸' }}</div>
  </div>

  <div class="box-body" *ngIf="open" (click)="$event.stopPropagation()">
    <ng-container *ngIf="node.children?.length; else leaf">
      <app-schema-node
        *ngFor="let c of node.children; trackBy: trackById"
        [node]="c"
        [depth]="depth + 1">
      </app-schema-node>
    </ng-container>

    <ng-template #leaf>
      <p class="muted">— sem filhos —</p>
    </ng-template>
  </div>
</div>